@model IEnumerable<SportStats.Models.Khimki>


<!DOCTYPE html>

<html lang="en">
<head>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - WebApplication5</title>
  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Tempusdominus Bootstrap 4 -->
  <link rel="stylesheet" href="~/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
  <!-- iCheck -->
  <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
  <!-- JQVMap -->
  <link rel="stylesheet" href="~/plugins/jqvmap/jqvmap.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
  <!-- overlayScrollbars -->
  <link rel="stylesheet" href="~/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
  <!-- Daterange picker -->
  <link rel="stylesheet" href="~/plugins/daterangepicker/daterangepicker.css">
  <!-- summernote -->
  <link rel="stylesheet" href="~/plugins/summernote/summernote-bs4.min.css">
</head>

<body class="sidebar-mini layout-navbar-fixed">
<div class="wrapper">
    <!-- Preloader -->
  <div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__shake" src="~/dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
  </div>

  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="/" class="nav-link">Главная</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="/Khimki" class="nav-link">Редактировать</a>
      </li>

    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">

      <li class="nav-item">
        <a class="nav-link" data-widget="fullscreen" href="#" role="button">
          <i class="fas fa-expand-arrows-alt"></i>
        </a>
      </li>
     
    </ul>
  </nav>
  <!-- /.navbar -->

   <!-- Main Sidebar Container -->
      <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a href="/" class="brand-link">
          <img src="~/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
          <span class="brand-text font-weight-light">SportStats</span>
        </a>

        <!-- Sidebar -->
        <div class="sidebar">
          <!-- Sidebar user panel (optional) -->
          <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
            <img src="~/dist/img/avatar5.png" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
              <a href="/" class="d-block">Артём</a>
            </div>
          </div>

      <!-- SidebarSearch Form -->
      <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Поиск" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- Sidebar Menu -->
     <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
              <!-- Add icons to the links using the .nav-icon class
                   with font-awesome or any other icon font library -->
              <li class="nav-item active menu-is-opening menu-open" >
                <a href="" class="nav-link active">
                  <p>
                    Российская премьер-лига
                    <i class="right fas fa-angle-left"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="/Teams/Zenit" class="nav-link ">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Зенит</p>
                      <span class="right badge badge-danger"></span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/Teams/Spartak" class="nav-link ">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Спартак</p>
                      <span class="right badge badge-danger"></span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/Teams/Lokomotiv" class="nav-link ">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Локомотив</p>
                      <span class="right badge badge-danger"></span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/Teams/Rubin" class="nav-link ">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Рубин</p>
                      <span class="right badge badge-danger"></span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/Teams/Sochi" class="nav-link ">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Сочи</p>
                      <span class="right badge badge-danger"></span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/Teams/CSKA" class="nav-link ">
                      <i class="far fa-circle nav-icon"></i>
                      <p>ЦСКА</p>
                      <span class="right badge badge-danger"></span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/Teams/Dynamo" class="nav-link ">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Динамо</p>
                      <span class="right badge badge-danger"></span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/Teams/Khimki" class="nav-link active ">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Химки</p>
                      <span class="right badge badge-danger"></span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/Teams/Rostov" class="nav-link ">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Ростов</p>
                      <span class="right badge badge-danger"></span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/Teams/Krasnodar" class="nav-link ">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Краснодар</p>
                      <span class="right badge badge-danger"></span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/Teams/Akhmat" class="nav-link ">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Ахмат</p>
                      <span class="right badge badge-danger"></span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/Teams/Ural" class="nav-link ">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Урал</p>
                      <span class="right badge badge-danger"></span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/Teams/Ufa" class="nav-link ">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Уфа</p>
                      <span class="right badge badge-danger"></span>
                    </a>
                  </li>
                  <li class="nav-item active">
                    <a href="/Teams/Arsenal" class="nav-link ">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Арсенал</p>
                      <span class="right badge badge-danger"></span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/Teams/KrylyaSovetov" class="nav-link ">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Крылья советов</p>
                      <span class="right badge badge-danger"></span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/Teams/NizhniyNovgorod" class="nav-link ">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Нижний новгород</p>
                      <span class="right badge badge-danger"></span>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </nav>
          <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">

    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0" style="font-size: 1.5rem">

            <img src="~/dist/img/FC_Khimki_Logo.gif" style="height: 169px;width: auto;border: 9px solid #ffc700;"/><br>

</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item">Россиийская премьер-лига</li>
              <li class="breadcrumb-item active">@foreach (var item in Model) {@Html.DisplayFor(modelItem => item.Title)}</li>

            </ol>
            <h1 class="m-0" style="font-size: 1.5rem">
            Название команды: @foreach (var item in Model) {@Html.DisplayFor(modelItem => item.Title)}<br>
<br>Стадион: @foreach (var item in Model) {@Html.DisplayFor(modelItem => item.Stadium)}<br>
<br>Главный тренер: @foreach (var item in Model) {@Html.DisplayFor(modelItem => item.Head_Coach)}
</h1>
          </div><!-- /.col -->

        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
  </div>
  <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">

   @RenderBody()
   </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section><!-- /.container-fluid -->
    </div>
  <footer class="main-footer">
    <div class="float-right d-none d-sm-block">
      <b>Version</b> 1.0.0
    </div>
    <strong>Made by Artem Khrushchenko. <a href="https://github.com/artemikk">Github</a></strong>
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Add Content Here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->


<!-- jQuery -->
<script src="~/plugins/jquery/jquery.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="~/plugins/jquery-ui/jquery-ui.min.js"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
  $.widget.bridge('uibutton', $.ui.button)
</script>
<!-- Bootstrap 4 -->
<script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- ChartJS -->
<script src="~/plugins/chart.js/Chart.min.js"></script>
<!-- Sparkline -->
<script src="~/plugins/sparklines/sparkline.js"></script>
<!-- JQVMap -->
<script src="~/plugins/jqvmap/jquery.vmap.min.js"></script>
<script src="~/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
<!-- jQuery Knob Chart -->
<script src="~/plugins/jquery-knob/jquery.knob.min.js"></script>
<!-- daterangepicker -->
<script src="~/plugins/moment/moment.min.js"></script>
<script src="~/plugins/daterangepicker/daterangepicker.js"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src="~/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
<!-- Summernote -->
<script src="~/plugins/summernote/summernote-bs4.min.js"></script>
<!-- overlayScrollbars -->
<script src="~/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
<!-- AdminLTE App -->
<script src="~/dist/js/adminlte.js"></script>

<script src="~/plugins/chart.js/Chart.js"></script>
@foreach (var item in Model) {
<script>
    var Donutlabels = [
    'Дома',
    'В гостях',
  ];
  var Donutdata = {
    labels: Donutlabels,
    datasets: [{
      label: 'My First dataset',
      backgroundColor: ['#f56954', '#00a65a'],
      data: [@Html.DisplayFor(modelItem => item.Home_Win), @Html.DisplayFor(modelItem => item.Guest_Win)],
    }]
  };

  var DonutOptions = {
          maintainAspectRatio: false,
          responsive: true,
  };
  var Donutconfig = {
    type: 'doughnut',
    data: Donutdata,
    options: DonutOptions
  };

  var DonutChart = new Chart(
    document.getElementById('DonutChart'),
    Donutconfig
  );

</script>
<script>
    var Donutlabels = [
    'грубая игра',
    'неспортивное поведение',
    'срыв атаки',
    'прочие',
  ];
  var Donutdata = {
    labels: Donutlabels,
    datasets: [{
      label: 'My First dataset',
      backgroundColor: ['#22D8BB', '#E713B9','#75D822','#728264'],
      data: [@Html.DisplayFor(modelItem => item.YellowRoughPlay), @Html.DisplayFor(modelItem => item.YellowUnsportsmanlikeBehavior),@Html.DisplayFor(modelItem => item.YellowDisruptionOfTheAttack),@Html.DisplayFor(modelItem => item.Yellow_Other)],
    }]
  };

  var DonutOptions = {
          maintainAspectRatio: false,
          responsive: true,
  };
  var Donutconfig = {
    type: 'pie',
    data: Donutdata,
    options: DonutOptions
  };

  var DonutChart = new Chart(
    document.getElementById('DonutChart2'),
    Donutconfig
  );

</script>
<script>
    var Donutlabels = [
    'голы на своем поле',
    'голы на чужом поле',
  ];
  var Donutdata = {
    labels: Donutlabels,
    datasets: [{
      label: 'My First dataset',
      backgroundColor: ['#69A630', '#DB5A24'],
      data: [@Html.DisplayFor(modelItem => item.Home_Goals),@Html.DisplayFor(modelItem => item.Guest_Goals)],
    }]
  };

  var DonutOptions = {
          maintainAspectRatio: false,
          responsive: true,
  };
  var Donutconfig = {
    type: 'doughnut',
    data: Donutdata,
    options: DonutOptions
  };

  var DonutChart = new Chart(
    document.getElementById('DonutChart1'),
    Donutconfig
  );

</script>
<script>
    var Donutlabels = [
    'Желтые',
    'Красные',
  ];
  var Donutdata = {
    labels: Donutlabels,
    datasets: [{
      label: 'My First dataset',
      backgroundColor: ['#DEE713', '#E92525'],
      data: [@Html.DisplayFor(modelItem => item.Yellow_Cards), @Html.DisplayFor(modelItem => item.Red_Cards)],
    }]
  };

  var DonutOptions = {
          maintainAspectRatio: false,
          responsive: true,
  };
  var Donutconfig = {
    type: 'doughnut',
    data: Donutdata,
    options: DonutOptions
  };

  var DonutChart = new Chart(
    document.getElementById('DonutChart3'),
    Donutconfig
  );

</script>
}
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>